body {
  padding-top: 16px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI Adjusted', 'Segoe UI', 'Liberation Sans', sans-serif;
  font-size: 13px;
}

main {
  margin: auto;
  max-width: 600px;
}

.featured-links {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  flex-direction: row;
}

.featured-links > * {
  width: 24px;
  margin-left: 8px;
}

.experiments-link {
  cursor: pointer;
}

.option,
    #kill-switch-warning,
    #optional-permissions-warning {
  margin: 4px 0;
  line-height: 1.8em;
}

#kill-switch-warning,
    .kill-switch-label,
    #optional-permissions-warning,
    .optional-permissions-warning-label {
  color: red;
}

.kill-switch-label,
    .optional-permissions-warning-label {
  margin: 0 0 8px 0;
  line-height: 1em;
}

.help {
  cursor: help;
  border-bottom: dashed 1px gray;
}

.experimental-label {
  color: gray;
}

.actions {
  text-align: center;
}

#profileindicatoralt_months {
  width: 3em;
}

#save-indicator {
  text-align: center;
  margin-bottom: 16px;
  color: green;
}

[hidden] {
  display: none;
}
