- name: Build extension
  include_role:
    name: build
  vars:
    browser: CHROMIUM
    channel: CANARY
    is_release: True
    targets: "//:pkg_zip //:version_name"

- name: Get size of the compiled ZIP package
  ansible.builtin.shell:
    cmd: "stat --printf=\"%s\" twpowertools.zip"
    chdir: "{{ zuul.project.src_dir }}/bazel-bin"
  register: zip_size

- name: Check the ZIP package is non-empty
  when: zip_size.stdout == "" or zip_size.stdout == "0"
  fail:
    msg: "twpowertools.zip is empty"

- name: Get compiled version name
  ansible.builtin.shell:
    cmd: "cat VERSION_NAME"
    chdir: "{{ zuul.project.src_dir }}/bazel-bin"
  register: version_name

- name: Get human size of the compiled ZIP package
  ansible.builtin.shell:
    cmd: "stat --printf=\"%s\" twpowertools.zip | numfmt --to=iec"
    chdir: "{{ zuul.project.src_dir }}/bazel-bin"
  register: zip_human_size

- name: Print package information
  ansible.builtin.debug:
    msg: |
      Version name: {{ version_name.stdout | trim }}
      ZIP size: {{ zip_human_size.stdout | trim }}

- when: not (dryRun|bool)
  include_role:
    name: cws-upload
  vars:
    extensionId: "{{ canaryTwptExtensionId }}"
    clientId: "{{ credentials.clientId }}"
    clientSecret: "{{ credentials.clientSecret }}"
    refreshToken: "{{ credentials.refreshToken }}"
    workingDirectory: "{{ zuul.project.src_dir }}/bazel-bin"
    zipFile: "twpowertools.zip"
    autopublish: true
    trustedTesters: true
