# Preset from bazelrc-preset.bzl
import %workspace%/tools/preset.bazelrc

common --repo_env=DO_NOT_TRACK=true
common --no//src/killSwitch:enable_kill_switch_mechanism

build --flag_alias=browser=//:browser
build --flag_alias=channel=//:channel
build --flag_alias=release=//:release
build --flag_alias=norelease=no//:release

common:ci --test_env=CI=true
# This simplifies our log in CI. curses is not useful since we can't view live
# logs.
common:ci --curses=no

# It's important to enable the kill switch mechanism in CI so that the test runs
# can build this functionality (and nightly builds will already have this
# feature flag enabled due to the |release| configuration).
build:ci --//src/killSwitch:enable_kill_switch_mechanism
build:release --stamp
build:release --workspace_status_command=./tools/bazel_stamp_vars.sh
build:release --compilation_mode=opt
build:release --//:release
build:release --//src/killSwitch:enable_kill_switch_mechanism

# To allow importing a user-defined .bazelrc
try-import %workspace%/user.bazelrc
