[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[project]
	description = Chrome extension which implements several enhancements in the Google Forums
[access "refs/*"]
	read = group GitHub Replication
	push = +force group user/Adrià Vilanova Martínez (avm99963)
[access "refs/for/refs/heads/*"]
	push = group project-infinitegforums-committers
	pushMerge = group project-infinitegforums-committers
[access "refs/heads/*"]
	forgeAuthor = group project-infinitegforums-committers
	label-Code-Review = -2..+2 group project-infinitegforums-committers
	submit = group project-infinitegforums-committers
[commentlink "GitHub"]
	match = "(?:[Bb]ug|[Ii]ssue|[Cc]lose[sd]?|[Ff]ix(?:es|ed)?|[Rr]esolve[sd]?):\\s+#(\\S+)"
	link = https://github.com/avm99963/infinitegforums/issues/$1
[label "Owners-Override"]
  function = NoBlock
  value = 0 No score
  value = +1 Override
  defaultValue = 0
