.material-content > header {
  background-color: var(--TWPT-primary-background)!important;
}

.material-content > header .app-title-button,
    .material-content > header .app-title-text {
  color: var(--TWPT-secondary-text)!important;
}

.material-content > header :is(material-button,
    material-button material-icon,
    .mdc-button.mdc-icon-button,
    .mdc-button.mdc-icon-button material-icon,
    notification-bell material-icon) {
  color: var(--TWPT-icon-color)!important;
}

.search-box {
  background-color: #313235!important;
}

.search-box .clear-icon {
  opacity: 0.8;
  color: var(--TWPT-icon-color)!important;
}

.material-content > header .bell.mixin {
  fill: var(--TWPT-icon-color)!important;
}

// Header menus
.popup material-list-item {
  color: var(--TWPT-drawer-text)!important;
}
