ec-canned-responses {
  .filter-label,
      ec-canned-response-row .name {
    color: var(--TWPT-primary-text)!important;
  }

  .label-row,
      ec-canned-response-row .snippet,
      ec-canned-response-row .tag .content,
      ec-canned-response-row .TWPT-tag .TWPT-content {
    color: var(--TWPT-secondary-text)!important;
  }

  material-expansionpanel:not(.expanded) .main-header:focus-within {
    background-color: var(--TWPT-active-background)!important;
  }

  ec-canned-response-row {
    .header:hover,
        .header.closed:focus,
        .header.closed:hover .toolbar,
        .header.closed:focus .toolbar,
        material-expansionpanel:not(.expanded) .main-header:focus-within,
        material-expansionpanel:not(.expanded) .main-header:hover {
      background-color: var(--TWPT-active-background)!important;
    }
  }

  .filter-row,
      .label-row,
      ec-canned-response-row material-expansionpanel {
    border-bottom-color: var(--TWPT-subtle-border)!important;
  }

  .create-button {
    background: #0842a0!important;
    color: #d3e3fd!important;
  }
}
