ec-work-state-picker > button,
    ec-symptom-picker > button {
  color: var(--TWPT-secondary-text)!important;
  background-color: var(--TWPT-button-background)!important;
  border-color: var(--TWPT-subtle-border)!important;
}

.material-popup-content .popup-content {
  header {
    .title {
      color: var(--TWPT-primary-text)!important;
    }

    material-button material-icon {
      color: var(--TWPT-subtle-button-background)!important;
    }
  }
}
