ec-thread-summary .panel > .main-header > .action > .header > .expand-button {
  order: -99963; /* This will position the button in the beginning. */
}

ec-thread-summary .panel > .main-header > .action > .header {
  padding-inline: 0px 19px!important;
}

/* Adjusting padding for the bulk action checkbox */
ec-thread-list ec-bulk-actions .selection {
  padding-inline-start: 45px;
}

/* Adjusting padding for the info in the expanded thread */
ec-thread-summary .panel .main .content-wrapper > .content > .content {
  padding-inline: 140px 8px;
}

ec-thread-summary .main .toolbelt .TWPT-extrainfo-container {
  margin-inline-start: 160px!important;
}
