/* Snackbar */
.TWPT-pane-for-snackbar {
  height: 48px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  pointer-events: none;
}

.TWPT-snackbar {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  flex: 1;
  font-size: 15px;
  font-weight: 400;
  overflow: hidden;
  pointer-events: none!important;
}

.TWPT-snackbar .TWPT-animation-container {
  max-width: 616px;
  min-width: 320px;
  overflow: hidden;
  pointer-events: auto;
  transition: all 218ms cubic-bezier(.4, 0, 1, 1);
}

.TWPT-notification-bar {
  background: #323232;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 48px;
  padding: 6px 24px;
}

.TWPT-notification-bar focus-trap {
  display: flex;
  width: 100%;
}

.TWPT-notification-bar .TWPT-focus-content-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: inherit;
  min-height: inherit;
}

.TWPT-notification-bar .TWPT-badge {
  margin: auto 10px auto 0;
}

.TWPT-notification-bar .TWPT-message {
  display: flex;
  margin: auto;
  flex: 1;
  white-space: pre-line;
}

.TWPT-notification-bar .TWPT-action {
  display: flex;
  align-items: center;
  color: #c6dafc;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin-left: 24px;
  padding: 0;
  text-transform: uppercase;
}

.TWPT-snackbar.TWPT-hidden {
  display: none;
}

/* Status indicator */
.TWPT-autorefresh-status-indicator-container {
  position: relative;
  padding: 0 8px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: help;
}

.TWPT-autorefresh-status-indicator {
  width: 24px;
  height: 24px;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  font-family: 'Google Material Icons';
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  user-select: none;
}

.TWPT-autorefresh-status-indicator--active {
  color: #202124;
  background: #e3f2fd;
  border-color: #2389e3;
}

.TWPT-autorefresh-status-indicator--muted {
  color: #5f6368;
  background: #f1f3f4;
  border-color: #757575;
}

.TWPT-autorefresh-status-indicator--disabled {
  color: #c5221f;
  background: #fce8e6;
  border-color: #c5221f;
}

.TWPT-autorefresh-status-indicator-container .TWPT-badge {
  --icon-size:  13px;
  position: absolute;
  bottom: 2px;
  right: 1px;
}
