/* Per-forum stats section */
.TWPT-scTailwindSharedActivitychartroot .scTailwindSharedActivitychartchart {
  margin-top: 26px;
}

.TWPT-scTailwindSharedActivitychartroot .scTailwindSharedActivitycharttitle {
  display: flex;
  align-items: center;
}

.TWPT-scTailwindSharedActivitychartroot .scTailwindSharedActivitycharttitle .TWPT-badge {
  margin-inline-end: 6px;
}

.TWPT-scTailwindSharedActivitychartroot .TWPT-select-container {
  position: absolute;
  top: 56px;
  z-index: 2;
}

.TWPT-scTailwindSharedActivitychartroot .TWPT-select-container select {
  max-width: 300px;
}

@media (max-width: 37.5rem) {
  .TWPT-scTailwindSharedActivitychartroot .TWPT-select-container {
    top: 46px;
  }

  .TWPT-scTailwindSharedActivitychartroot .scTailwindSharedActivitychartchart {
    margin-top: 50px;
  }
}

@media (min-width: 37.5rem) and (max-width: 900px) {
  .TWPT-scTailwindSharedActivitychartroot .scTailwindSharedActivitychartchart {
    margin-top: 54px;
  }
}

/* Fix for https://iavm.xyz/b/twpowertools/118 */
.aplos-hovercard {
  z-index: 3;
}
