.TWPT-extrainfo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.TWPT-extrainfo-chip {
  color: #444746;
  font-family: "Google Sans Text", "Roboto", "Arial", sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: .018em;

  height: 2rem;
  border: 1px solid #ababab;
  border-radius: 8rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.75rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.375rem;
}

.TWPT-extrainfo-chip .TWPT-badge {
  --icon-size: 14px;
}

.TWPT-extrainfo-chip span[aria-describedby] {
  cursor: help;
}


/* Specific styles inside context */

ec-unified-user .scTailwindUser_profileUsercardmain {
  display: flex;
  flex-direction: column;
}

ec-unified-user .TWPT-extrainfo-container {
  margin-top: 16px;
  align-self: end;
}

/* This overrides the CC styles */
sc-tailwind-thread-question-state-chips .scTailwindThreadQuestionStatechipsroot {
  align-items: center;
  flex-wrap: wrap;
}

sc-tailwind-thread-question-state-chips .TWPT-extrainfo-chip {
  font-weight: 500;
}

sc-tailwind-thread-message-message-card .TWPT-extrainfo-chip,
    ec-thread-summary .main .toolbelt .TWPT-extrainfo-chip {
  height: 30px;
  font-size: 12px;
  color: var(--TWPT-secondary-text, #6c6c6c);
}

ec-thread-summary .main .toolbelt .TWPT-extrainfo-container {
  margin-inline-start: 115px;
  margin-bottom: 16px;
}

/* This overrides the CC styles */
ec-thread-summary .author-line .removed-label {
  width: auto!important;
  min-width: 72px!important;
}

/* Special styles for good/bad labels */
.TWPT-extrainfo-good {
  color: var(--TWPT-good-text-lightbg, #198639)!important;
}

.TWPT-extrainfo-warning {
  color: var(--TWPT-warning-text-lightbg, orange)!important;
}

.TWPT-extrainfo-bad {
  color: var(--TWPT-bad-text-lightbg, #d50000)!important;
}


/* Special component for the thread list statuses */
ec-thread-summary .header-content .TWPT-label {
  display: flex;
  align-items: center;
  padding-inline-end: 10px;
  font-weight: 500;
}

ec-thread-summary .header-content .TWPT-label .TWPT-badge {
  --icon-size: 9.5px;
  margin-right: 2px;
}
