.TWPT-extrainfo-container {
  display: inline-flex;
  color: var(--TWPT-interop-secondary-text, #444746)!important;
  align-items: center;
}

.TWPT-extrainfo-badge-cell {
  margin: 0 8px;
  --icon-size: 14px;
  opacity: 0.4;
}

.TWPT-extrainfo-info-cell {
  border-left: solid 1px var(--TWPT-interop-subtle-border, #ababab);
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}

.TWPT-extrainfo-info-cell > div:not(:last-child) {
  margin-bottom: 2px;
}

/* Specific styles inside context */

ec-unified-user .scTailwindUser_profileUsercardmain {
  display: flex;
  flex-direction: column;
}

ec-unified-user .TWPT-extrainfo-container {
  margin-top: 16px;
  align-self: end;
}

ec-question .TWPT-extrainfo-container,
    ec-message .footer .TWPT-extrainfo-container {
  color: var(--TWPT-secondary-text, #6c6c6c);
}

ec-question .TWPT-extrainfo-container {
  font-size: 13px;
  position: absolute;
  bottom: 25px;
  right: 48px;
}

ec-message .footer .TWPT-extrainfo-container {
  margin-top: 8px;
  font-size: 12px;
}

ec-message .footer .TWPT-extrainfo-badge-cell {
  margin: 0 6px 0 0;
  --icon-size: 12px;
}

ec-message .footer .TWPT-extrainfo-info-cell {
  padding-left: 6px;
}

/* Special styles for good/bad labels */
.TWPT-extrainfo-good {
  color: var(--TWPT-good-text, green)!important;
}

.TWPT-extrainfo-warning {
  color: var(--TWPT-warning-text, orange)!important;
}

.TWPT-extrainfo-bad {
  color: var(--TWPT-bad-text, red)!important;
}

/* Special tags components for canned responses */
ec-canned-response-row .TWPT-tag {
  background-color: transparent;
  color: #474747;
  margin: 0 0 0 4px;
  border: 1px solid #ababab;
  display: flex;
  align-items: center;
  border-radius: 16px;
  height: 32px;
  overflow: hidden;
}

ec-canned-response-row .TWPT-chip-content-container {
  margin: 0 12px;
  overflow: hidden;
  white-space: nowrap;
}

ec-canned-response-row .TWPT-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

ec-canned-response-row .TWPT-content .TWPT-badge {
  --icon-size: 14px;
  margin-right: 6px;
}

ec-canned-response-row .TWPT-content span[aria-describedby] {
  cursor: help;
}

/* Per-forum stats section */
.TWPT-scTailwindSharedActivitychartroot .scTailwindSharedActivitychartchart {
  margin-top: 18px;
}

.TWPT-scTailwindSharedActivitychartroot .TWPT-select-container {
  position: absolute;
  top: 48px;
  z-index: 2;
}

.TWPT-scTailwindSharedActivitychartroot .TWPT-select-container select {
  max-width: 300px;
}
