.TWPT-extrainfo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.TWPT-extrainfo-chip,
    ec-canned-response-row .TWPT-tag {
  background-color: transparent;
  color: #474747;
  border: 1px solid #ababab;
  display: flex;
  align-items: center;
  border-radius: 16px;
  height: 32px;
  overflow: hidden;
}

.TWPT-extrainfo-chip {
  margin: 4px;
}

ec-canned-response-row .TWPT-tag {
  margin: 0 0 0 4px;
}

.TWPT-extrainfo-chip .TWPT-chip-content-container,
    ec-canned-response-row .TWPT-chip-content-container {
  margin: 0 12px;
  overflow: hidden;
  white-space: nowrap;
}

.TWPT-extrainfo-chip .TWPT-content,
    ec-canned-response-row .TWPT-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  color: var(--TWPT-interop-secondary-text, #444746);
}

.TWPT-extrainfo-chip .TWPT-content .TWPT-badge,
    ec-canned-response-row .TWPT-content .TWPT-badge {
  --icon-size: 14px;
  margin-inline-end: 6px;
}

.TWPT-extrainfo-chip .TWPT-content span[aria-describedby],
    ec-canned-response-row .TWPT-content span[aria-describedby] {
  cursor: help;
}


/* Specific styles inside context */

ec-unified-user .scTailwindUser_profileUsercardmain {
  display: flex;
  flex-direction: column;
}

ec-unified-user .TWPT-extrainfo-container {
  margin-top: 16px;
  align-self: end;
}

/* This modifies the CC styles */
ec-question .state-chips {
  align-items: center;
  flex-wrap: wrap;
}

ec-question .TWPT-extrainfo-chip,
    ec-message .footer .TWPT-extrainfo-chip,
    ec-thread-summary .main .toolbelt .TWPT-extrainfo-chip {
  height: 30px;
  font-size: 12px;
  color: var(--TWPT-secondary-text, #6c6c6c);
}

ec-question .TWPT-extrainfo-chip .TWPT-chip-content-container,
    ec-message .footer .TWPT-extrainfo-chip .TWPT-chip-content-container,
    ec-thread-summary .main .toolbelt .TWPT-extrainfo-chip .TWPT-chip-content-container {
  margin: 0 10px 0 6px;
}

ec-message .footer .TWPT-extrainfo-container {
  margin-top: 8px;
}

ec-thread-summary .main .toolbelt .TWPT-extrainfo-container {
  margin-inline-start: 115px;
  margin-bottom: 16px;
}


/* Special styles for good/bad labels */
.TWPT-extrainfo-good {
  color: var(--TWPT-good-text-lightbg, #198639)!important;
}

.TWPT-extrainfo-warning {
  color: var(--TWPT-warning-text-lightbg, orange)!important;
}

.TWPT-extrainfo-bad {
  color: var(--TWPT-bad-text-lightbg, #d50000)!important;
}


/* Special component for the thread list statuses */
ec-thread-summary .header-content .TWPT-label {
  display: flex;
  align-items: center;
  padding-inline-end: 10px;
  font-weight: 500;
}

ec-thread-summary .header-content .TWPT-label .TWPT-badge {
  --icon-size: 9.5px;
  margin-right: 2px;
}


/* Per-forum stats section */
.TWPT-scTailwindSharedActivitychartroot .scTailwindSharedActivitychartchart {
  margin-top: 26px;
}

.TWPT-scTailwindSharedActivitychartroot .scTailwindSharedActivitycharttitle {
  display: flex;
  align-items: center;
}

.TWPT-scTailwindSharedActivitychartroot .scTailwindSharedActivitycharttitle .TWPT-badge {
  margin-inline-end: 6px;
}

.TWPT-scTailwindSharedActivitychartroot .TWPT-select-container {
  position: absolute;
  top: 56px;
  z-index: 2;
}

.TWPT-scTailwindSharedActivitychartroot .TWPT-select-container select {
  max-width: 300px;
}
