ec-thread-summary .panel > .main-header {
  flex-direction: row-reverse;
}

ec-thread-summary .panel > .main-header .expand-container {
  padding-inline: 8px 0;
}

ec-thread-summary .panel > .main-header > .header {
  padding-inline: 0px 19px!important;
}

ec-thread-list ec-bulk-actions .selection {
  padding-inline-start: 29px;
}

ec-thread-summary .panel .main .content-wrapper > .content > .content {
  padding-inline: 121px 8px;
}
