.TWPT-avatars {
  display: flex;
  flex-direction: row;
  min-width: 108px;
  overflow-x: hidden;
  margin-inline-start: 14px;
}

.TWPT-avatars .TWPT-avatar,
    .TWPT-avatars .TWPT-avatar-private-placeholder {
  height: 28px;
  width: 28px;
  align-self: center;
  border-width: 0;
  border-radius: 50%;
  margin-inline-start: 6px;
}

.TWPT-avatars .TWPT-avatar {
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.TWPT-avatars .TWPT-avatar-private-placeholder {
  line-height: 28px;
  text-align: center;
  color: #35363a;
  background-color: #dadce0;
  font-size: 20px;
  font-family: 'Google Material Icons';
}

/*
 * Changing styles of existing elements so the avatars fit.
 */
ec-thread-summary .main-header .panel-description a.header .header-content {
  width: calc(100% - 218px);
}
