.TWPT-dark-theme {
  position: relative;
  padding: 4px 8px;
  cursor: pointer;
}

.TWPT-dark-theme .content {
  padding: 8px;
}

.TWPT-dark-theme .TWPT-badge {
  --icon-size: 13px;
  position: absolute;
  bottom: 6px;
  right: 5px;
}
