.option {
  margin: 4px 0;
  line-height: 1.8em;
}

.help {
  cursor: help;
  border-bottom: dashed 1px gray;
}

.experimental-label {
  color: gray;
}

.actions {
  text-align: center;
}

#profileindicatoralt_months {
  width: 3em;
}

#save-indicator {
  text-align: center;
  margin-bottom: 16px;
  color: green;
}

[hidden] {
  display: none;
}
